<h2>Listing professors</h2>
<table>
  <% @professors.each do |professor| %>
    <p>
    <tr>
      <%= link_to professor.prof_name, course_path(professor) %>
    </tr>
    </p>
  <% end %>
</table>

<button type="button" class="btn btn-light"><%= link_to 'Add new professor', new_professor_path %></button>
