<h2>Listing professors</h2
<b1>---if your professor is not listed go ahead and add it. </b1>
 <%= link_to 'Adding new professor', new_professor_path %><b1>---if your professor is not listed go ahead and add it. </b1>
<table>
  <% @professors.each do |professor| %>
    <tr>
      <td><%= professor.prof_name %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back to home page', root_path %>