<p>
        <strong>Professor name</strong>
        <%= @professor.prof_name %>
        
</p>
<p>
<%= link_to 'Back to all professors', professors_path %>
<%= link_to 'Back to home page', root_path %>