<h2>Listing courses</h2>
<table>
  <% @courses.each do |course| %>
    <p>
    <tr>
      <%= link_to course.course_name, course_path(course) %>
    </tr>
    </p>
  <% end %>
</table>
<br>
<button type="button" class="btn btn-light"><%= link_to 'Add new course', new_course_path %></button>

