<h2>Listing courses</h2>
 <%= link_to 'Create new course', new_course_path %>
 <b1>---if your course is not listed go ahead and add it. </b1>
<table>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_name %>
      <%= link_to 'View', course_path(course) %>
      </td>
    </tr>
  <% end %>
  </table>
  <b1></b1>
<%= link_to 'Back to home page', root_path %>