<h2>Listing courses</h2>
 <%= link_to 'Create new course', new_course_path %>
<table>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_name %></td>
    </tr>
  <% end %>
</table>
