<p>
        <strong>Course name</strong>
        <%= @course.course_name %>
</p>  
<p>    
        <strong>Showing calculations here</strong>
</p>  
        



<%= link_to 'Back to all courses', courses_path %>