<p>
    <strong>Course Name:</strong>
        <%= Course.find(@review.course_id).course_name %>
</p>
<p>
    <strong>Professor:</strong>
        <%= Professor.find(@review.professor_id).prof_name %>
</p>
<p>
    <strong>Evaluation:</strong>
        <%= @review.evaluation %>
</p>
<%= link_to 'Review List', reviews_path %>