<p>
    <strong>Course Name:</strong>
        <%= @review.course_name %>
</p>
<p>
    <strong>Professor:</strong>
        <%= @review.professor %>
</p>
<p>
    <strong>Evaluation:</strong>
        <%= @review.evaluation %>
</p>
<%= link_to 'Review List', reviews_path %>